.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

/* Hover effect for buttons */
.grid-button:hover {
    background-color: #45a049;
}